{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <article class="col-xs-12">
        <h2>Les épreuve Eau Plate</h2>
        <h3>100, 200 ou 400m Obstacles</h3>
        <p class="col-xs-12 col-sm-9 no-padd">Cette épreuve simule le passage d'obstacles par le sauveteur lors de la recherche d'une personne en détresse en un minimum de temps. L'obstacle sera de 2m50 sur 70cm et placé à 12m50.</p>
        <p class="hidden-xs col-sm-3"><img alt="sauveteur" src="{{ asset('images/sauveteur3.png') }}" style="margin-top: -81px"></p>
        <h3>100m Mannequin avec palmes</h3>
        <p>Cette épreuve permet au sauveteur d'agir plus vite lors de la recherche de personne en détresse grâce à un équipement supplémentaire (les palmes, qui seront de 65cm sur 30cm maximum).</p>
        <p>Le sauveteur doit effectuer 50m en nage libre avec ses palmes puis, plonger vers le mannequin placé entre 1m80 et 3m de profondeur, le remonter et le remorquer sur 50m.</p>
        <h3>100m Combiné de Sauvetage</h3>
        <p>Cette épreuve met le sauveteur en présence d'une difficulté supplémentaire par la recherche en apnée de la personne en détresse et son remorquage en surface après l'avoir repérée.</p>
        <p>Après avoir parcouru 50m en nage libre, le sauveteur doit s'immerger sur une distance de 17m50, remonter le mannequin et le remorquer sur le reste de la distance.</p>
        <h3>50m Sauvetage Mannequin</h3>
        <p>Cette épreuve symbolise la recherche de la personne en détresse et son remorquage en surface en un minimum de temps.</p>
        <p>Après avoir parcouru 25m en nage libre, le sauveteur plonge vers le mannequin placé entre 1m80 et 3m de profondeur, le remonte et le remorque sur 25m.</p>
        <h3>100m Sauvetage du Mannequin avec Palmes et Bouée Tube</h3>
        <p>Après avoir parcouru 50m en nage libre avev une bouée tube et des palmes, me sauveteur, après avoir touché le bord du rivage, doit fixer la bouée tube autour d'un mannequin qui est tenu par un coéquipier et doit le tracter pendant les 50 derniers mètres.</p>
        <h3>200m Super Sauveteur</h3>
        <p>Après avoir parcuru 75m en nage libre, le sauveteur plonge vers un mannequin placé entre 1m80 et 3m de profondeur, le remonte et le remorque jusqu'à la ligne des 100m.<br />Après avoir touché le mur, il lache le mannequin et, tout en restant dans l'eau, enfile ses palmes et la bouée tube qu'il trouve sur le bord. Il nage alors 50m, touche le mur, fixe la bouée autour du mannequin et le tracte jusqu'à l'arrivée.</p>
        <h3>4x50m Obstacles</h3>
        <p>Quatre sauveteurs se relayent sur 50m en passant sous les obstacles placés à 12m50 du bord.</p>
        <h3>4x25m Relais du Mannequin</h3>
        <p>Sur une distance de 100m, quatre sauveteurs se relayent pour remorquer en surface la personne (un mannequin) en détresse.</p>
        <h3>4x50m Relais de la bouée tube</h3>
        <p>Le premier sauveteur nage sur 50m.<br />Le deuxième sauveteur nage 50m avec les palmes.<br />Le troisième sauveteur nage 50m en remorquant une bouée tube.<br />Le quatrième sauveteur, tracte sur 50m le sauveteur à qui il a donné la bouée tube.<br />Dans la catégorie Benjamin, le troisième sauveteur ne sera pas tracté.<br />Le quatrième sauveteur effectuera 50m en nage libre avec palmes et bouée tube.</p>
        <h3>4x50m Relais Sauvetage</h3>
        <p>Le premier sauveteur nage 50m en surface. Le deuxième sauveteur parcourt les 50m avec palmes, en apnée totale et remonte le mannequin au troisième sauveteur qui nage 50m en remorquant le mannequin. Et le quatrième sauveteur, chaussé de palmes, tracte sur 50m le mannequin.</p>
        <h3>Relais lancer de Corde (Line Throw)</h3>
        <p>Un sauveteur lance une corde afin de rammener un autre sauveteur vers le bord de la piscine pour simuler le sauvetage d'une victime avec une corde, et ce dans un minimum de temps.</p>
        <h3>SERC</h3>
        <p>Épreuve de simulation de sauvetage, qui propose à une équipe de quatre sauveteurs de résoudre différentes situations de détresse et ce en temps limité.</p>
    </article>
{% endblock %}
