{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <article class="col-xs-12">
        <h2>Brevet Nationnal de Sécurité et de Sauvetage Aquatique</h2>
        <h3>Public Visé</h3>
        <p>Toute personne désirant être affectée à la sécurité et à la surveillance des zones de baignade aménagées, d'accès public et gratuit, en bord de mer ou en plan d' eau, à titre dérogatoire et secondaire d' un établissement d' accès payant.</p>
        <h3>Pré-requis:</h3>
        <ul class="list-style-none content-formation">
            <li><i class="glyphicon glyphicon-chevron-right"></i> Avoir 17 ans révolus au jour de l' examen</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Être titulaire du PSE1 minimum</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Être reconnu apte médicalement</li>
        </ul>
        <h3>Déroulement de l'examen</h3>
        <p class="bold">3 épreuves éliminatoires et non cotées: </p>
        <p>Tout candidat éliminé à l'une de ces épreuves, n'est pas admis à subir l'épreuve cotée :</p>
        <ul class="list-style-none content-formation">
            <li><i class="glyphicon glyphicon-chevron-right"></i> Parcours de 100m constitué de 25m nage libre echainé de 2 parcours de 25m comprenant 15m d'apnées et terminé par 1 parcour de 25m remorquage mannequin prise réglementaire</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Parcours de 200m avec palmes, masque et tuba suivit de 50m remorquage mannequin qu'avec les palmes en prise reglementaire</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Épreuve d'action du sauveteur sur le noyé</li>
        </ul>
        <p class="bold">1 épreuve cotées:</p>
        <ul class="list-style-none content-formation">
            <li><i class="glyphicon glyphicon-chevron-right"></i> Un QCM</li>
        </ul>
        <p class="bold">Sont admis, les candidats ayant obtenu un minimum de 30 points.</p>
        <h3>Nos entraînements se déroulent au Stade Aquatique de Vichy Val d'Allier</h3>
        <div class="col-xs-6 text-center no-padd">
            <h4>Musculation</h4>
            <p>- Lundi : 18h00 - 19h00</p>
            <p>- Dimanche : 9h30 - 10h30</p>
        </div>
        <div class="col-xs-6 text-center no-padd">
            <h4>Piscine</h4>
            <p>- Mercredi : 17h30 - 20h30</p>
            <p>- Dimanche : 08h30 - 09h30</p>
        </div>
    </article>
{% endblock %}