{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <div class="art-article"><h3>Brevet Nationnal de Sécurité et de Sauvetage Aquatique</h3>
<table border="0" rules="none">
<tbody>
<tr>
<td valign="middle" style="width: 300px; border-width: 0px; border-style: none;">
<h4>Pour qui?</h4>
<p>Toute personne désirant être affectée à la sécurité et à la surveillance des zones de baignade aménagées, d' accès public et gratuit, en bord de mer ou en plan d' eau, à titre dérogatoire et secondaire d' un établissement d' accès payant.</p>
<p>&nbsp;</p>
</td>
<td valign="top" style="width: 300px; border-width: 0px; border-style: none;">
<h4>Pré-requis:</h4>
<ul style="list-style-type: circle;">
<li>Avoir 18 ans révolus au jour de l' examen</li>
</ul>
<ul style="list-style-type: circle;">
<li>Être titulaire du PSE1</li>
</ul>
<ul style="list-style-type: circle;">
<li>Être reconnu apte médicalement</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h4>Déroulement de l'examen</h4>
<h5>3&nbsp;épreuves éliminatoires et non cotées:</h5>
<p>Tout candidat éliminé à l'une de ces épreuves, n'est pas admis à subir l'épreuve cotée :</p>
<ul style="list-style-type: circle;">
<li>parcours de 100 m constitué de 25m nage libre echainé de 2 parcours de 25 m comprenant 15 m d'apnées et terminé par&nbsp;1 parcour de 25 m &nbsp;remorquage mannequin prise réglementaire,</li>
<li>parcours de 200 m avec palmes masque tuba suivit de 50 m remorquage mannequin qu'avec les palmes en prise reglementaire,</li>
<li>épreuve d'action du sauveteur sur le noyée</li>
</ul>
<p>&nbsp;</p>
<table border="0" rules="none">
<tbody>
<tr>
<td valign="middle" style="width: 300px; border-width: 0px; border-style: none;">
<h5>1&nbsp;épreuves cotées:</h5>
<ul style="list-style-type: circle;">
<li>un QCM</li>
</ul>
<p>&nbsp;</p>
</td>
<td valign="middle" style="border-width: 0px; border-style: none;">
<p><img alt="nageur" src="/images/asnbvr/nageur.gif"></p>
</td>
</tr>
</tbody>
</table>
<h2>Sont admis, les candidats ayant obtenu un minimum de 30 points.</h2>

</div>
    <div class="art-article"><table border="0" rules="none" style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="border-width: 0px; border-style: none;"><img alt="surveillant" src="/images/asnbvr/surveillant.png"></td>
<td valign="middle" style="border-width: 0px; border-style: none; vertical-align: middle;">
<h3>Brevet Nationnal de Sauvetage et de Secourisme Aquatique</h3>
</td>
</tr>
</tbody>
</table>
<h4>Nos entraînements se déroulent au Stade Aquatique de Vichy Val d'Allier</h4>
<table border="0" rules="none">
<tbody>
<tr>
<td valign="middle" style="border-width: 0px; border-style: none; width: 200px;">
<p><span style="text-decoration: underline;">Musculation</span></p>
<p>&nbsp;- Lundi : 18h00 - 19h00</p>
<p>&nbsp;- Dimanche : 9h30 - 10h30&nbsp;</p>
</td>
<td valign="middle" style="border-width: 0px; border-style: none;">
<p><span style="text-decoration: underline;">Piscine</span></p>
<p>&nbsp;- Mercredi : 17h30 - 20h30</p>
<p>&nbsp;- Dimanche : 08h30 - 09h30</p>
</td>
</tr>
</tbody>
</table>

</div>
{% endblock %}