{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <article class="col-xs-12">
        <h2>Le Brevet de Surveillance de Baignade</h2>
        <p class="text-center bold f22">La Fédération Française de Sauvetage et de Secourisme organise l'examen et en délivre le diplôme.</p>
        <h3>Public Visé</h3>
        <p>Cette formation s'adresse aux animateursde centre de vacances qui souhaitent encadrer <u class="bold">La Baignade des Enfants</u></p>
        <h3>Pré-requis</h3>
        <ul class="list-style-none content-formation">
            <li><i class="glyphicon glyphicon-chevron-right"></i> Avoir 18 ans au 1er Juillet de l'année en cours</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Être reconnu apte médicalement à la pratique &nbsp;de la natation et du sauvetage</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Avoir un minimum d'entraînement à la natation</li>
        </ul>
        <h3>2 épreuves théoriques et pratiques</h3>
        <p class="bold">Déroulement de l'examen</p>
        <h4>4 épreuves nautiques éliminatoires</h4>
        <ul class="list-style-none content-formation">
            <li><i class="glyphicon glyphicon-chevron-right"></i> Le lancé du "ballon de sauvetage"</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Le 50 mètre sauvetage mannequin</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Réglementation et organisation des baignades dans le cadre des accueils collectifs de mineurs (note / 20)</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Prévention des noyades (note / 20)</li>
        </ul>
        <h4>2 épreuves théoriques et pratiques</h4>
        <ul class="list-style-none content-formation">
            <li><i class="glyphicon glyphicon-chevron-right"></i> Un parcours de 200 mètres en nage libre avec franchissement d'obtacles</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Une épreuve pratique de soin de première urgence au noyé</li>
        </ul>
        <h2>Les horaires</h2>
        <h3>Formation Continue</h3>
        <p>Nos formations se déroulent au Stade Aquatique de Vichy Val d'Allier</p>
        <div class="col-xs-6 text-center no-padd">
            <h4>Musculation</h4>
            <p>Dimanche 9h30 - 10h30</p>
        </div>
        <div class="col-xs-6 text-center no-padd">
            <h4>Piscine</span></h4>
            <p>Lundi 19 h00 - 20 h 30</p>
            <p>Mercredi 17h30 -20h30</p>
            <p>Samedi 08h00 - 9h30</p>
            <p>Dimanche 08h00 - 9h30</p>
        </div>
        <h3>Stage secourisme + des journées Législation</h3>
        <h4>Stage 1 semaine</h4>
        <p>Vacances de Février</p>
        <p>8h - 12h Entraînement piscine</p>
        <p>14h - 18h Secourisme + Législation Salle de l'association</p>
        <p>Pour vous inscrire à ce stage veuillez nous retournez <a title="Fiche d'inscription" target="_blank" href="{{ asset('docs/ASNVBR-Inscription-stage-BSB.doc') }}">votre dossier</a> complét.</p>
        <p>Pour plus de renseignement, <a title="Contactez-nous" href="/Contact">contactez-nous</a>.</p>
        <p></p>
    </article>
{% endblock %}