{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <div class="art-article"><h3 style="text-align: center;">Le Brevet de Surveillance de Baignade</h3>
<h4 style="text-align: center;">La Fédération Française de Sauvetage et de Secourisme organise l'examen et en délivre le diplôme</h4>
<table border="0" rules="none" style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="width: 350px; border-width: 0px; border-style: none;">
<h5>Pour qui?</h5>
<p>Cette formation s'adresse aux animateursde centre de vacances qui souhaitent encadrer <strong><span style="text-decoration: underline;">La Baignade des Enfants</span></strong>&nbsp;</p>
</td>
<td style="border-width: 0px; border-style: none; width: 350px;">
<h5>Pré-requis</h5>
<ul style="list-style-type: circle;">
<li>&nbsp;Avoir 18 ans au 1er juillet de l'année en cours</li>
<li>Etre reconnu apte médicalement à la pratique &nbsp;de la natation et du sauvetage&nbsp;</li>
<li>Avoir un minimum d'entraînement à la natation</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h4 style="text-align: center;">2 épreuves théoriques et pratiques</h4>
<p style="text-align: center;"><strong>Déroulement de l'examen</strong></p>
<table border="0" rules="none" align="center" style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td border-width:="" 0px="" border-style:="" none="" horaires="" td="" style="border-width: 0px; border-style: none;">
<p><img alt="baigneur" src="/images/asnbvr/baigneur.png"></p>
<center><a href="/nos-formations/sauvetage/bsb/14-horaires-bsb" title="Horaires BSB">Horaires</a></center></td>
<td border-width:="" 0px="" border-style:="" none="" horaires="" td="" style="border-width: 0px; border-style: none; width: 400px;">
<h4>4 épreuves nautiques éliminatoires</h4>
<ul style="list-style-type: disc;">
<li>Le lancé du "ballon de sauvetage"</li>
<li>Le 50 mètre sauvetage mannequin</li>
<li>Réglementation et organisation des baignades dans le cadre des accueils collectifs de mineurs (note / 20)</li>
<li>Prévention des noyades (note / 20)</li>
</ul>
<h4>2 épreuves théoriques et pratiques</h4>
<ul style="list-style-type: disc;">
<li>&nbsp;Un parcours de 200 mètres en nage libre avec franchissement d'obtacles</li>
<li>Une épreuve pratique de soin de première urgence au noyé</li>
</ul>
</td>
</tr>
</tbody>
</table>
<div class="art-article"><h3>Le Brevet de Surveillant de Baignade</h3>
<h4>Formation Continue</h4>
<p>Nos formations se déroulent au Stade Aquatique de Vichy Val d'Allier&nbsp;</p>
<table border="0" rules="none">
<tbody>
<tr>
<td valign="middle" style="border-width: 0px; border-style: none; width: 260px;">
<p><span style="text-decoration: underline;">Musculation</span></p>
<p>&nbsp;- Dimanche : 9h30 - 10h30&nbsp;</p>
</td>
<td valign="middle" style="border-width: 0px; border-style: none;">
<p><span style="text-decoration: underline;">Piscine</span></p>
<p>&nbsp;- Lundi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 19 h à 20 h 30&nbsp;</p>
<p>&nbsp;- Mercredi&nbsp;&nbsp; : 17 h 30 - 20 h 30</p>
<p>&nbsp;- Samedi&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;: 08 h 00&nbsp; - 9 h 30</p>
<p>&nbsp;- Dimanche : 08h00 - 09h30</p>
</td>
</tr>
<tr>
<td style="border-width: 0px; border-style: none;">
<p>Stage secourisme + des journées Législation</p>
<h4>Stage 1 semaine</h4>
<p>Vacances de Février</p>
<p>8h - 12h Entraînement piscine</p>
<p>14h - 18h Secourisme + Législation Salle de l'association</p>
</td>
<td style="border-width: 0px; border-style: none;">
<p></p>
<p>Pour plus de renseignement, <a title="Contactez-nous" href="/nos-formations/sauvetage/bsb/horaires-bsb/15-contact">contactez-nous</a>.</p>
<p></p>
<p>&nbsp;</p>
<center>
<p style="text-align: center;"><a title="Fiche d'inscription" href="/images/stories/documents/ASNVBR_fiche_inscription.doc">Inscription</a></p>
</center>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<img style="display: block; margin-left: auto; margin-right: auto;" alt="surveillant" src="/images/asnbvr/surveillant_1.png">

</div>
</div>
{% endblock %}