{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <div class="art-article"><table border="0" rules="none">
<tbody>
<tr>
<td style="vertical-align: middle; width: 400px; border-width: 0px; border-style: none;" valign="middle">
<p>La Fédération Française de Sauvetage et de Secourisme ( FFSS ) a mis en place une école nationale de sauvetage ( ENS).</p>
<p>&nbsp;</p>
<p>Notre association possède l'agrément.</p>
<p>&nbsp;</p>
<p>L' association garantit donc un enseignement de qualité en toute sécurité par un encadrement ayant une compétence reconnue.</p>
<p>&nbsp;</p>
<p>L'ENS propose différents degrés de capacité :</p>
<ul style="list-style-type: circle;">
<li>en eau plate : <span style="font-size: 10pt;"><a href="/nos-formations/sauvetage/ens/les-bouees" title="Les bouées">les bouées</a></span></li>
<li>en côtier : <a href="/nos-formations/sauvetage/ens/les-bonnets" title="Les bonnets">les bonnets</a></li>
</ul>
<p>qui s'aquièrent au fur et à mesure de l'évolution de l' enfant et permettent aux jeunes enfants de découvrir le sauvetage et de s'épanouir dans un sport tout en apprenant à sauver une vie.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td valign="top" style="border-width: 0px; border-style: none; width: 300px;">
<p style="text-align: center;"><img alt="ens" src="/images/asnbvr/ens.png" width="164" height="186"></p>
<p>&nbsp;</p>
<p style="text-align: center;"><img alt="nageur" src="/images/asnbvr/nageur1.png">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><img alt="membres" src="/images/asnbvr/membres1.png">&nbsp;</p>

</div>
    <div class="art-article"><p>Les bouées sont des degrés de capacité relatifs au sauvetage en eau plate.</p>
<p>Au nombre de sept, son niveau de difficulté est progressif et matérialisé d'une couleur ( Blanche la plus facile à Or pour</p>
<p>la plus difficile.</p>
<p>&nbsp;</p>
<p>Pour connaitre les épreuves de chaque degré, cliquez sur le nom du degré.</p>
<table border="0" rules="none" align="center">
<tbody>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bouée blanche" src="/images/asnbvr/bouee_blanche.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/nos-formations/sauvetage/ens/les-bouees/23" title="Bouée Blanche">Bouée Blanche</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bouée jaune" src="/images/asnbvr/bouee_jaune.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/nos-formations/sauvetage/ens/les-bouees/24" title="Bouée Jaune">Bouée Jaune</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bouée verte" src="/images/asnbvr/bouee_verte.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/nos-formations/sauvetage/ens/les-bouees/18" title="Bouée Verte">Bouée Verte</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bouée rouge" src="/images/asnbvr/bouee_rouge.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/nos-formations/sauvetage/ens/les-bouees/19" title="Bouée Rouge">Bouée Rouge</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bouée bronze" src="/images/asnbvr/bouee_bronze.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/nos-formations/sauvetage/ens/les-bouees/20" title="Bouée de Bronze">Bouée de Bronze</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bouée argent" src="/images/asnbvr/bouee_argent.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/nos-formations/sauvetage/ens/les-bouees/21" title="Bouée d'Argent">Bouée d'Argent</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bouée or" src="/images/asnbvr/bouee_or.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/nos-formations/sauvetage/ens/les-bouees/22" title="Bouée d'Or">Bouée d'Or</a></td>
</tr>
</tbody>
</table>

</div>
    <div class="art-article"><p style="text-align: justify;">Les bonnets sont des degrés de capacité relatifs au sauvetage côtier.</p>
<p style="text-align: justify;">Au nombre de sept, son niveau de difficulté est progressif également comme pour le sauvetage en eau plate et matérialisé d'une couleur (Blanche pour la plus facile à Or pour la plus difficile.)</p>
<p style="text-align: justify;">&nbsp;&nbsp;</p>
<p>Pour connaitre les épreuves de chaque degré, cliquez sur le nom du degré.</p>
<p>&nbsp;</p>
<table border="0" rules="none" align="center">
<tbody>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bonnet blanc" src="/asnbvr/images/asnbvr/bonnet_blanc.gif" width="60" height="69"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/asnbvr/index.php?option=com_content&amp;view=article&amp;id=26&amp;Itemid=18" title="Bonnet Blanc">Bonnet Blanc</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bonnet jaune" src="/asnbvr/images/asnbvr/bonnet_jaune.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/asnbvr/index.php?option=com_content&amp;view=article&amp;id=27&amp;Itemid=18" title="Bonnet Jaune">Bonnet Jaune</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bonnet vert" src="/asnbvr/images/asnbvr/bonnet_vert.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/asnbvr/index.php?option=com_content&amp;view=article&amp;id=28&amp;Itemid=18" title="Bonnet Vert">Bonnet Vert</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bonnet rouge" src="/asnbvr/images/asnbvr/bonnet_rouge.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/asnbvr/index.php?option=com_content&amp;view=article&amp;id=29&amp;Itemid=18" title="Bonnet Rouge">Bonnet Rouge</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bonnet bronze" src="/asnbvr/images/asnbvr/bonnet_bronze.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/asnbvr/index.php?option=com_content&amp;view=article&amp;id=30&amp;Itemid=18" title="Bonnet de Bronze">Bonnet de Bronze</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bonnet argent" src="/asnbvr/images/asnbvr/bonnet_argent.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/asnbvr/index.php?option=com_content&amp;view=article&amp;id=31&amp;Itemid=18" title="Bonnet d'Argent">Bonnet d'Argent</a></td>
</tr>
<tr>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><img alt="bonnet or" src="/asnbvr/images/asnbvr/bonnet_or.gif"></td>
<td style="vertical-align: middle; border-width: 0px; border-style: none;" valign="middle"><a href="/asnbvr/index.php?option=com_content&amp;view=article&amp;id=32&amp;Itemid=18" title="Bonnet d'Or">Bonnet d'Or</a></td>
</tr>
</tbody>
</table>

</div>
{% endblock %}