{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %}
    <article class="col-xs-12">
        <h2>Prévention et Secours Civique de niveau 1 : PSC1</h2>
        <h3>Public visé</h3>
        <p>Cette formation, à déstination du grand public, concerne toutes personnes souhaitant s'initier aux gestes qui sauvent.</p>
        <p>Elle est vivement recommandée pour certaines activités : professionnels de l'enfance, des soins à domicile, de l'animation socioculturelle, les associations sportives… Votre employeur peut vous l'imposer. Elle est également exigée par la loi pour l'exercice métiers particuliers ou l'inscription à certains concours ou examens. Le PSC 1 est à la portée de tous, dès 12 ans et sans limite d'âge.</p>
        <h3>Objectif visé</h3>
        <p>Être le premier maillon de la chaîne des secours, c'est à dire savoir réagiren cas d'accident, et prendre les mesures nécessaires avant l'arrivée des secours organisés.</p>
        <p>A l'issue de cette formation, vous serez capable de :</p>
        <ul>
            <li>organiser une protection pour éviter le sur-accident</li>
            <li>établir un premier bilan de l'état de la victime et de ses fonctions vitales</li>
            <li>transmettre une alerte aux services de secours</li>
            <li>éviter l'aggravation de l'état de la victime en pratiquant les gestes appropriés</li>
        </ul>
        <p class="text-center"><img alt="Points essentiels PSC1" src="{{ asset('images/psc1.png') }}" width="499" height="115"></p>
        <h2>Contenu de la formation</h2>
        <h3>La protection</h3>
        <p>Porter secours nécessite de se protéger d'abord soi- même, <br>puis de sécuriser la zone vis à vis des autres personnes.</p>
        <h3>L'alerte</h3>
        <p>Appeler le service de secours adapté à la situation,<br>Comment collecter les éléments nécessaires aux secours et savoir les retransmettre.</p>
        <h3>Les gestes d'urgence</h3>
        <p>Les premiers gestes dans l'attente des secours organisés, dans les situations d'urgence vitale suivantes :</p>
        <ul>
            <li>- la victime s'étouffe<br>- la victime saigne abondamment</li>
            <li>- la victime est inconsciente et respire</li>
            <li>- la victime est inconsciente et ne respire pas</li>
            <li>- la victime se plaint d'un malaise</li>
            <li>- la victime se plaint après un traumatisme</li>
        </ul>
        <p>Pour plus d'informations, consulter le <a href="http://www.interieur.gouv.fr/content/download/36645/277100/file/PSC%201%20Version%202017.pdf" title="référentiel formation psc1" target="_blank">Référentiel</a></p>
    </article>
{% endblock %}