{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <div class="art-article"><p>Cette formation est destinée à :</p>
<ul style="list-style-type: square;">
<li>toutes personnes qui désirent avoir une activité professionnelle, bénévole, volontaire, au sein d'une structure de Sécurité Civile.</li>
</ul>
<ul style="list-style-type: square;">
<li>tous sauveteurs aquatiques affectés à la surveillance des baignades.</li>
</ul>
<br>
<table id="pse1" border="0" rules="none" align="center">
<tbody>
<tr>
<td style="border-width: 0px; border-style: none;"><img alt="pse1" src="/images/asnbvr/pse1.png"></td>
<td style="width: 250px; vertical-align: middle; text-align: justify; padding-left: 30px; border-width: 0px; border-style: none;">
<h3>Objectif :</h3>
Acquérir la compétence de secouriste par l'acquisition des connaissances nécessaires à la bonne exécution des gestes de secours, seul ou au côté d'un équipier secouriste, avec ou sans matériel de premiers secours, pour préserver l'intégrité de la victime, et si nécessaire, en attendant l'arrivée d'une équipe de secours à personnes.</td>
<td style="vertical-align: middle; padding-left: 30px; border-width: 0px; border-style: none;">Cliquez <a href="/nos-formations/secourisme/pse1/contenu-formation-pse1">ici</a> pour accéder au contenu de la formation</td>
</tr>
</tbody>
</table>

</div>
    <div class="art-article"><table border="0" rules="none">
<tbody>
<tr>
<td style="border-width: 0px; border-style: none;">
<p>- Le secouriste</p>
<p>- La chaîne des secours</p>
<p>- La sécurité</p>
<p>- L'alerte</p>
<p>- L'obstruction des voies aériennes&nbsp;</p>
<p>- Les hémoragies externes</p>
<p>- L'inconscience</p>
<p>- L'arrêt cardio-respiratoire</p>
<p>- La défibrilation automatisée externe</p>
<p>- Les détresses vitales</p>
<p>- Les malaises et la maladie</p>
<p>- Les accidents de peau</p>
<p>- Les traumatismes des os et des articulations</p>
<p>- La noyade</p>
<p>- La surveilance et l'aide au déplacement</p>
<p></p>
<p>Pour plus d'information, veuillez consulter le <a href="http://www.interieur.gouv.fr/misill/sections/a_l_interieur/defense_et_securite_civiles/formation/nnfasc/osc/pse1/view" target="_blank">Référentiel</a>&nbsp;</p>
</td>
<td style="border-width: 0px; border-style: none;"><img alt="formation pse1" src="/images/asnbvr/formation-pse1.png" style="margin-left: 150px;">
<h3>La formation initiale est de 35 heures minimum</h3>
</td>
</tr>
</tbody>
</table>

</div>
{% endblock %}