{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <article class="col-xs-12">
        <h2>Prévention et Secours en Équipe de niveau 1 : PSE 1</h2>
        <h3>Public visé</h3>
        <p>Cette formation est destinée à toutes personnes qui désirent avoir une activité professionnelle, bénévole, volontaire, au sein d'une structure de Sécurité Civile ainsi qu'à tous sauveteurs aquatiques affectés à la surveillance des baignades.</p>
        <div class="col-xs-9 no-padd">
            <h3>Objectif de la formation</h3>
            <p>
                Acquérir la compétence de secouriste par l'acquisition des connaissances nécessaires à la bonne exécution des gestes de secours, seul ou au côté d'un équipier secouriste, avec ou sans matériel de premiers secours, pour préserver l'intégrité de la victime, et si nécessaire, en attendant l'arrivée d'une équipe de secours à personnes.
            </p>
            <h2>Contenu de la formation</h2>
            <ul class="list-style-none content-formation">
                <li><i class="glyphicon glyphicon-chevron-right"></i> Le secouriste</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> La chaîne des secours</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> La sécurité</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> L'alerte</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> L'obstruction des voies aériennes</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> Les hémoragies externes</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> L'inconscience</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> L'arrêt cardio-respiratoire</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> La défibrilation automatisée externe</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> Les détresses vitales</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> Les malaises et la maladie</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> Les accidents de peau</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> Les traumatismes des os et des articulations</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> La noyade</li>
                <li><i class="glyphicon glyphicon-chevron-right"></i> La surveilance et l'aide au déplacement</li>
            </ul>
            <h3>Durée de la formation</h3>
        <p>
            La formation initiale est de 35 heures minimum de face à face pédagogique. La formation continue rentre dans le cadre des séances annuelles de formation continue des secouristes telle qu'elle est définie dans les textes réglementaires.
        </p>
        <p>Pour plus d'information, veuillez consulter le <a href="http://www.interieur.gouv.fr/content/download/36654/277153/file/PSE1.pdf" target="_blank">Référentiel</a></p>
        </div>
        <div class="col-xs-3 text-right no-padd">
            <img alt="Illustration Prévention et Secours en Équipe de niveau 1" src="{{ asset('images/pse1.png') }}">
        </div>
    </article>
{% endblock %}