{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <div class="art-article"><table border="0" rules="none">
<tbody>
<tr>
<td style="width: 400px; text-align: justify; border-width: 0px; border-style: none; vertical-align: middle;">Cette formation est pour toute personne qui désire avoir une activité professionnelle, bénévole ou volontaire au sein d'une structure de sécurité civile. Pour suivre cette formation, les participants doivent posséder le PSE 1 en cours de validité.</td>
<td style="border-width: 0px; border-style: none;"><img alt="pse2" src="/images/asnbvr/pse2.png"></td>
</tr>
</tbody>
</table>
<h3>Objectif:</h3>
<p>La transformation PSE 2 permet d'obtenir la compétence d'équipier secouriste &nbsp;et a pour objectif, l'acquisition des connaissances nécessaires à la prise en charge d'une ou plusieurs victimes, au côté d'un secouriste ou au sein d'une équipe &nbsp;de secours.</p>
<p></p>
<p>Cette prise en charge, avec du materiel de secours adapté à la situation rencontrée, a pour but de préserver l'intégrité des victimes en attendant le relais.</p>

</div>
    <div class="art-article"><table border="0" rules="none">
<tbody>
<tr>
<td style="border-width: 0px; border-style: none;">
<p>- Le secouriste</p>
<p>- La chaîne des secours</p>
<p>- La sécurité</p>
<p>- L'alerte</p>
<p>- L'obstruction des voies aériennes&nbsp;</p>
<p>- Les hémoragies externes</p>
<p>- L'inconscience</p>
<p>- L'arrêt cardio-respiratoire</p>
<p>- La défibrilation automatisée externe</p>
<p>- Les détresses vitales</p>
<p>- Les malaises et la maladie</p>
<p>- Les accidents de peau</p>
<p>- Les traumatismes des os et des articulations</p>
<p>- La noyade</p>
<p>- La surveilance et l'aide au déplacement</p>
<p></p>
<p>Pour plus d'information, veuillez consulter le <a href="http://www.interieur.gouv.fr/misill/sections/a_l_interieur/defense_et_securite_civiles/formation/nnfasc/osc/pse2/view" target="_blank">Référentiel</a>&nbsp;</p>
</td>
<td style="border-width: 0px; border-style: none; vertical-align: middle;">
<h3>La formation initiale est de 35 heures minimum</h3>
</td>
</tr>
</tbody>
</table>

</div>
{% endblock %}