{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <article class="col-xs-12">
        <h2>Prévention et Secours en Équipe de niveau 2 : PSE 2</h2>
        <h3>Public visé</h3>
        <p>Cette formation est pour toute personne qui désire avoir une activité professionnelle, bénévole ou volontaire au sein d'une structure de sécurité civile. Pour suivre cette formation, les participants doivent posséder le PSE 1 en cours de validité.</p>
        <p>Cette formation est aussi un pré requis pour toute personne qui désire suivre une formation de chef d'équipe.</p>
        <h3>Objectif de la formation</h3>
        <p>La transformation PSE 2 permet d'obtenir la compétence d'équipier secouriste et a pour objectif, l'acquisition des connaissances nécessaires à la prise en charge d'une ou plusieurs victimes, au côté d'un secouriste ou au sein d'une équipe &nbsp;de secours.</p>
        <p>Cette prise en charge, avec du materiel de secours adapté à la situation rencontrée, a pour but de préserver l'intégrité des victimes en attendant le relais.</p>
        <h2>Contenu de la formation</h2>
        <ul class="list-style-none content-formation">
            <li><i class="glyphicon glyphicon-chevron-right"></i> L'équipier secouriste</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> L'hygiène et l'asepsie</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les bilans</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les atteintes liées aux circonstances</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les affections spécifiques</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les affections comportementales</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les pansements et les bandages</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les immobilisations</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les relevages</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les brancardages et le transport</li>
            <li><i class="glyphicon glyphicon-chevron-right"></i> Les situations avec de multiples victimes</li>
        </ul>
        <h3>Durée de la formation</h3>
        <p>
            La formation initiale est de 35 heures minimum de face à face pédagogique. La formation continue rentre dans le cadre des séances annuelles de formation continue des secouristes telle qu'elle est définie dans les textes réglementaires.
        </p>
    </article>
{% endblock %}