{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %}
    <article class="col-xs-12">
        <h2>Sauvetage aquatique</h2>
        <p>Pour faire face aux risques réels que peuvent présenter la baignade, tels que des accidents toujours tragiques, il existe plusieurs formations de sauveteurs aquatiques, occasionnels ou professionnels.</p>
        <p>Nos entraînements se déroulent au Stade Aquatique de Vichy Val d'Allier.</p>
        <div class="col-xs-6 text-center no-padd">
            <h3>Musculation</h3>
            <p>Dimanche 9h30 - 10h30</p>
        </div>
        <div class="col-xs-6 text-center no-padd">
            <h3>Piscine</span></h3>
            <p>Lundi 19 h00 - 20 h 30</p>
            <p>Mercredi 17h30 -20h30</p>
            <p>Samedi 08h00 - 9h30</p>
            <p>Dimanche 08h00 - 9h30</p>
        </div>
        <p class="text-center col-xs-12 no-padd">
            <a class="btn-perso" title="BSB" href="/nos-formations/sauvetage/bsb">BSB</a>
            <a class="btn-perso" title="BNSSA" href="/nos-formations/sauvetage/bnssa">BNSSA</a>
            <a class="btn-perso" title="ENS" href="/nos-formations/sauvetage/ens">ENS</a>
        </p>
    </article>
{% endblock %}
