{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %}
    <div class="art-article"><p><a name="secourisme"></a><img src="http://data.imagup.com/5/1114961059.JPG" border="0" alt="Notre équipe" title="Notre équipe" width="200" height="150" style="float: left;"></p>
<p>&nbsp;</p>
<h3><span>Rejoignez notre équipe de secouristes bénévoles</span></h3>
<p>Vous avez au moins 16 ans, vous souhaitez exercer une activité utile et enrichissante, vous pouvez devenir Secouriste Bénévole au sein de notre association.<br>Afin d' intégrer notre équipe, il n'est pas nécessaire d'être titulaire de diplômes de secourisme, puisque nous vous proposons les formations PSE1 et PSE2 en contrepartie de votre engagement bénévole.<br><br>Vous avez le goût de l'action, des responsabilités et des relations humaines... <br>Vous avez envie d'une activité valorisante, au service des autres.</p>

</div>
{% endblock %}
