{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %}
    <article class="col-xs-12">
        <h2>Rejoignez notre équipe de secouristes bénévoles</h2>
        <p>Vous avez au moins 16 ans, vous souhaitez exercer une activité utile et enrichissante, vous pouvez devenir Secouriste Bénévole au sein de notre association.<br>Afin d' intégrer notre équipe, il n'est pas nécessaire d'être titulaire de diplômes de secourisme, puisque nous vous proposons les formations PSE1 et PSE2 en contrepartie de votre engagement bénévole.</p>
        <p>Vous avez le goût de l'action, des responsabilités et des relations humaines... Vous avez envie d'une activité valorisante, au service des autres.</p>
    </article>
{% endblock %}
