{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <article class="col-xs-12">
        <h2>Le Poste de Secours</h2>
        <p>L'association assure plus d'une centaine de poste de secours sur l'ensemble du département.</p>
        <p>Nous disposont d'un materiel permettant d'intervenir sur tous les terrains.</p>
        <p>Pour toutes demandes de Poste de Secours et pour plus de renseignement, merci de nous contacter.</p>
        <p>Nous établiront un devis personnalisé suivant votre demande.</p>
        <p class="text-center hidden-xs"><img alt="Poste de secours ASNVBR" src="{{ asset('images/postedesecours.jpg') }}" /></p>
        <p class="text-center"><span class="col-xs-12 col-sm-4"><img alt="Poste de secours ASNVBR" src="{{ asset('images/003.jpg') }}" class="img-responsive" /></span><span class="col-xs-12 col-sm-4"><img alt="Poste de secours ASNVBR" src="{{ asset('images/002.jpg') }}" class="img-responsive" /></span><span class="col-xs-12 col-sm-4"><img alt="Poste de secours ASNVBR" src="{{ asset('images/006.jpg') }}" class="img-responsive" /></span></p>
    </article>
{% endblock %}
