{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %}
    <article class="col-xs-12">
        <h2>Le Club</h2>
        <p>1982 : Création de l'association par des personnes croyant aux valeurs de la <a href="https://www.ffss.fr/" title="Fédération Française de Sauvetage et Secourisme">Fédération Française de Sauvetage et Secourisme</a>.</p>
        <p>L'association, depuis sa création a essayé de transmettre ses valeurs dans ses diverses activités.</p>
        <p>L'Association de Sauvetage Nautique de Vichy Bellerive et sa Région assure la sécurité aussi bien terrestre que nautique lors de manifestations telles que : championnats d'Aviron, Tournois de sports collectifs, ...</p>
        <p>L'association a participé à de nombreux championnats avant de mettre en sommeil son groupe compétition suite à la fermeture du bassin d'entraîenement et au départ de l'entraîneur.</p>
        <p>Mais avec la volonté et le désir de quelque mordu de ce sport le groupe à été réconstitué.</p>
        <p>L'association a participé à de nombreuses actions de formations tant terrestres que nautiques.</p>
    </article>
{% endblock %}
