{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <article class="col-xs-12">
        <h2>Contactez-nous</h2>
        <p class="bold">Association Sauvetage Nautique Vichy Bellerive et sa Région<br />27 Avenue de Vichy<br />Tél : 04 70 32 32 42<br />Mail : <a href="mailto:asnvbr@orange.fr">asnvbr@orange.fr</a></p>
    </article>
{% endblock %}
