{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %}
    <article>
        <h2>Bonjour et Bienvenue sur le nouveau site de l'Association. Nous vous souhaitons une bonne visite</h2>
    </article>
{% endblock %}